{#
/**
 * @file
 * Default theme implementation to display a block content.
 *
 * @see template_preprocess_block_content_template()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('block-content') }}>
  {{ title_prefix }}
  {{ title_suffix }}
  {{ content }}
</div>